*{font-family: Noto Sans kr;}

html, body {margin:0;padding:0;width:100%;height:100%;}

/* header start */
header a{color: inherit; text-decoration: none;}

header {border-bottom:1px solid #dbdbdb; width:100%; height:55px;padding-top:12.5px;padding-bottom:12.5px;}

.dimg-header-wrapper{display:flex; flex-direction:row; justify-content: space-between; align-items: center; margin:auto 150px;}

.dimg-logo-area{padding-left:20px;display:flex; flex-direction:row; align-items:center;}

.dimg-logo-img{}

.dimg-logo-img img{width:190px;height:50px;}

.dimg-logo-txt{font-weight:500;font-size:1.5rem;}

.dimg-menu-area{display:flex;flex-direction:row;align-items: center;}

.dimg-menu{list-style: none;display:flex; flex-direction:row;align-items:center;}

.dimg-menu li{margin:0 40px 0 0;}

.dimg-mobile-menu-btn{display:none;margin-right:10px;font-size: 25px;}

.dimg-mobile-close-btn{display:none;top:20px;right:12px;position: absolute;font-size:28px;}

.menu-icon{}
/* header end */

/* footer start */
footer{width:100%; padding-top:15px;padding-bottom:15px;}
.dimg-footer-wrapper{display:flex;justify-content:center; margin:auto 200px;padding-top: 15px;border-top: 1px solid #dbdbdb;}
.dimg-widget-area{display:flex;margin:0 200px;}
.dimg-widget{padding:20px;width:50%;box-sizing: border-box;}
.dimg-footer-widget-title {
    color: #607090;
    font-weight: 400;
    letter-spacing: 1px;
}
#menu-main-nav {list-style: none;padding:0;}
#menu-main-nav > li > a {text-decoration: none;}
#menu-main-nav > li {padding-bottom: 16px;font-weight: 300;}

/* subscription area*/
.dimg-widget-area #mailpoet_form_2{margin-top: 44px; height: 40px; width: 100%;margin-bottom: 60px; }
.dimg-widget-area #mailpoet_form_2 .mailpoet_form {padding:0;width:100%;font-size:0;}
.dimg-widget-area #mailpoet_form_2 .mailpoet_form .mailpoet_paragraph{margin-bottom:0;}
.dimg-widget-area .subscription-email{display:inline-block;height: 100%; width: 70%; margin: 0; box-sizing: border-box;}
.dimg-widget-area .subscription-email .mailpoet_text{
    padding: 5px 0 5px 20px !important;
    font-size: 1rem; font-weight: 500;
    letter-spacing: 1px;
    box-sizing: border-box;
    border-left:1px solid #000000;
    border-top:1px solid #000000;
    border-bottom:1px solid #000000;
    border-right:none;
    height:45px;
}
.dimg-widget-area .subscription-submit{display:inline-block;height:100%;width:30%;box-sizing: border-box;}
.dimg-widget-area .subscription-submit .mailpoet_submit{height:45px;border:1px solid #000000;background-color:#ffffff !important;color:#000000;font-size: 1rem;}
.dimg-widget-area .subscription-submit .mailpoet_submit:hover{color:#ffffff !important;background-color: #000000 !important;}
.dimg-widget-area .mailpoet_message{font-size: 14px;}
/* footer end */

/* contents start */
.dimg-contents-wrapper {
    width:100%;
    margin-top:35px;
}

.dimg-contents {
    margin:auto 200px;
}

.dimg-col-card {
    float: left;
    width: 33.333%;
    box-sizing: border-box;
    padding:20px;
}

.dimg-col-card:after {
    content: '';
    display: block;
    clear: both;
}

.attachment-dimg-card-thumb-img {
    display:block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.dimg-card-thumb{
    position:relative;
}

.dimg-grid-sizer {
    width: 33.333% !important;
}

.dimg-card-category{
    position:absolute;
    bottom:10px;
    left:10px;
}

.dimg-card-category a{
    background-color: #3a91d4 !important;
    margin-right: 20px;
    font-size: 14px;
    padding: 4px 5px;
    color: #020202;
    text-decoration: none;
    font-weight: 300;
    word-break: keep-all;
}

.dimg-card-title a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
}

.dimg-card-desc {
    font-weight: 400;
    color: grey;
}

.dimg-loading-btn-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 40px;
    margin-top: 40px;
    background-color: #f0f5f7;
}

.dimg-loading-btn {
    color: #000;
    background-color: #fff;
    padding: 15px 40px;
    border: 1px solid #dbdbdb;
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 2px;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    width:300px;
}


.dimg-disabled { opacity: .5; cursor: not-allowed;}

.dimg-loading { opacity: .5; cursor: not-allowed;color:grey;}
.dimg-loading-btn:focus {
    border:none;
}

.dimg-loading-btn-cate {
    color: #000;
    background-color: #fff;
    padding: 15px 40px;
    border: 1px solid #dbdbdb;
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 2px;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    width:300px;
}

.dimg-loading-btn-cate:focus {
    border:none;
}
/* contents end */

/* posts */
.dimg-space-40{width:100%;height:40px;}

.dimg-post-wrapper{width:100%;}
.dimg-post-wrapper-inner{box-sizing:border-box;margin:0 200px;}
.dimg-post-header{width:100%;margin-top:40px;}
.dimg-post-header-wrapper{width:100%;display:flex;flex-direction: row;}
.dimg-post-contents{width:100%;margin-top:40px;}
.dimg-post-contents-wrapper{width:100%;}
.dimg-post-logo{width:100%;}
.dimg-post-logo-wrapper{width:100%;}
.dimg-relative-posts{width:100%;}
.dimg-relative-posts-wrapper{width:100%;}

.dimg-post-header-thumb-area{
    width:40%;
    padding: 20px;
    box-sizing: border-box;
}

.dimg-post-header-desc-area{
    width:59%;
    padding: 20px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
}

.dimg-post-header-title{
    flex-grow: 3;
}

.dimg-post-header-author-time{
    flex-grow: 1;
    margin: 10px 0;
}

.dimg-post-header-author-time span{
    font-weight:300;font-size:20px;
}

.dimg-post-header-author-time span:first-child{
    margin-right:10px;
}

.dimg-post-header-author-time span:last-child{
    color:grey;
}
.dimg-post-header-cate-area{
    flex-grow: 1;
    margin: 10px 0;
}

.dimg-post-header-thumb img{
    width: 100%;
    height: auto;
}

/* .borders{border:1px solid #dbdbdb;} */
.dimg-post-header-thumb-line{
    border-top:1px solid rgba(256,186,0, 0.89) ;
    border-bottom:1px solid #707070 ;
    height:3px;
    margin-top: 0;
}

.dimg-post-header-cate-area a{
    background-color: #3a91d4 !important;
    margin-right: 10px;
    font-size: 14px;
    padding: 4px 5px;
    color: #020202;
    text-decoration: none;
    font-weight: 300;
}

.dimg-post-header-title{display:flex;align-items:center;padding-top: 20px;width: 100% !important;}

.dimg-post-header-title > h1{font-size:40px;font-weight: 400;margin:0;width:100%;}
.dimg-post-header-cate-area{font-weight:300;font-size:20px;}
.dimg-post-contents-wrapper {
    box-sizing: border-box;
    font-size:24px;
    padding: 0 200px;
}

.wp-block-table table {border-spacing: 0;}
.wp-block-table table th,td{border: 1px solid #dbdbdb;padding:5px;}

.dimg-post-logo-wrapper {text-align: center;margin-bottom: 50px;}

.dimg-relative-posts-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.dimg-relative-posts-header {padding: 30px 0px 10px 0;border-top: 1px solid #dbdbdb;}

.dimg-relative-posts-header div:first-child{text-align: center;font-size: 20px;font-weight: 400;}

.dimg-relative-post-line{width: 140px;margin: 0 auto;border-top:1px solid rgba(256,186,0, 0.89) ;border-bottom:1px solid #707070 ;height:3px;margin-top: 0;}
[aria-current] { font-weight: bold; }

.wp-block-image img{
    width:100%;
    height: auto;
}

/* responsivility youtube iframe  */
.yt {
    position: relative;
    display: block;
    width: 90%; /* width of iframe wrapper */
    height: 0;
    margin: auto;
    padding: 0% 0% 56.25%; /* 16:9 ratio */
    overflow: hidden;
}
  .yt iframe {
    position: absolute;
    top: 0; bottom: 0; left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}